<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id="titulo">HOLA JEFE TE ODIO</h1>
    
    <img id="imagen" src="https://firebasestorage.googleapis.com/v0/b/tiendasurabs.appspot.com/o/nave2.2.jpg?alt=media&token=a1c48ad8-0d24-4ec4-97ea-6e78e6b1e8a5" alt="" >
    
    <script  src="../controllers/aprendiendoDom.js"></script>
</body>
</html>